
<div class="user_articles">
        <div class="usertitle"><a  href="{{ url_for('main.reader', articleid=articlei.id)  }}">{{ articlei.titlehtml|safe}}</a></div>
        <div class="userabstract">
            <div class="article_action">
                {% if articlei.uid == current_user.id %}
                <form action="{{ url_for('main.delete_object') }}" method="post">
                    {{ deleteform.object_id(value=articlei.id ) }} {{ deleteform.object_type(value="article" ) }}
                    <input class="control-input" id="id_delete_article" type="submit" value="&#xf1f8;" >
                    <label class="control-item fas fa-trash" for="id_delete_article" title="{{ _('Delete article') }}" ></label>
                </form>
                <a class="control-item far fa-edit"  href="{{ url_for('main.editor', articleid=articlei.id)  }}"></a>
                {% endif %}
                <a class="control-item fas fa-book-open"  href="{{ url_for('main.reader', articleid=articlei.id)  }}"></a>                 
            </div>
            <div class="userabstracttext">{{ articlei.abstracthtml|safe }}</div>
        </div>
</div>