<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% if title %}
           {% if author %}
        <title>{{ author }}: {{ title }} </title>
           {% else %}
        <title>μr²: {{ title }} </title>
           {% endif %}
        {% else %}
        <title>μr²</title>
        {% endif %}
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap" rel="stylesheet">       
        <!-- Adobe fonts -->
        <script>
            (function(d) {
                var config = {
                    kitId: 'qka3mwm',
                    scriptTimeout: 3000,
                    async: true
                },
                    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
        </script>
        <!-- Font awesome -->
        <script src="https://kit.fontawesome.com/73ba869ba8.js" crossorigin="anonymous"></script>
        <script src="/static/js/mur2.js"></script> <!-- general mur2 javascripts -->
        <!-- style -->
        <link rel="stylesheet" href="/static/css/mur2.css">
        {% block header %}{% endblock %}
    </head>
    <body class="result-as-html">
        <!-- content -->
        <div id="horizontal_box">
        {% include 'base_menu.html' %}
            <div id="msg" >
                <!-- print msg -->
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <!-- end msg -->
            </div>
            <div id="maintext">
            {% block content %}{% endblock %}
            </div>
            <div id="foot"> © 2020 μr² {{ _("editor") }} </div>
        </div><!-- horizontal_box -->
    </body>        
</html>