{% extends "base.html" %}

{% block content %}
    <h1>{{ _("Edit Profile") }}</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ _("Username") }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ _("About me") }}<br>
            {{ form.about_me(cols=50, rows=4) }}<br>
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p><input type="submit" name="{{ _("Save") }}" value="{{ _("Save") }}" ></p>
    </form>
    
    <form action="{{ url_for('main.delete_object') }}" method="post">
        {{ deleteform.object_id(value=userid ) }} {{ deleteform.object_type(value="user" ) }}
        <input type="submit" name="{{ _("Delete user") }}" value="{{ _("Delete user") }}" >        
    </form>
{% endblock %}