{% extends "base.html" %}

{% block header %} 
    <link rel="stylesheet" href="/static/css/mur2_media.css">   

{% endblock %}


{% block content %}
<h1>{{ _("Media files") }}</h1>
<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.photo }}
    {% for error in form.photo.errors %}
        <span style="color: red;">{{ error }}</span>
    {% endfor %}
    {{ form.submit }}
</form>

<div id="media_files" >
{% for file in files %}
    <div class="media_file">
        <div class="gallery">
            <a target="_blank" href="{{ file.addresss }}">
                <img alt="{{ file.addresss }}" src="{{ file.addresss }}">
            </a>
        </div>
        <div>
            <form action="{{ url_for('main.delete_object') }}" method="post">
                {{ deleteform.object_id(value=file.id) }} {{ deleteform.object_type(value="file" ) }}
                <input class="fas fa-trash control-item" type="submit" name="{{ _("Delete file") }}" value="&#xf1f8;
" >        
            </form>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}