{% extends "base.html" %}

{% block content %}
    <div id="maintitle">
        <h1>{{ _('Search Results') }}</h1>
        <div>{{ _("result for") }}: {{ seachterm }}</div>
    </div>
    
    {% for articlei in articles %}
        {% include 'article.html' %}
    {% endfor %}

    <div id="lapozo">
        <div>
            <a href="{{ next_url or '#' }}">
                {{ _('Next results') }}
                <span aria-hidden="true">&rarr;</span>
            </a>
        </div>
        <div>
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span>
                {{ _('Previous results') }}
            </a>
        </div>
    </div>
{% endblock %}