{% extends "base.html" %}

{% block content %}

    {% if user == current_user %}
    <a href="{{ url_for('main.edit_profile') }}">
        <div id="user_username">
            {{ user.username }}
        </div>
    </a>
    {% else %}
    <div id="user_username">{{ user.username }}</div>
    {% endif %}

    <!-- Article -->
    {% if user == current_user %}
    <div class="user_articles">
        <div class="usertitle">
            <a href="{{ url_for('main.editor', articleid=-1)  }}">{{ _("New Article") }}</a>
        </div>
    </div>
    {% endif %}

    <div class="normalpadding">
    {% for articlei in articles %}
        {% include 'article.html' %}
    {% endfor %}                
    </div>

    <!-- fit username to box -->
    <script src="/static/js/TextFit/textFit.min.js"></script> 
    <script>
        textFit(document.getElementById('user_username'), {minFontSize:10, maxFontSize: 164});
    </script>
    
{% endblock %}