{% extends "base.html" %}

{% block content %}
<div class="undermain_menu" id="user_profile">
    <div id="user_profil_overview" >
        <div id="avator"><img src="{{ user.avatar(128) }}"></div>
        <div id="profile_overview">
                <h1>{{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>{{ _("Last seen on") }}: {{ user.last_seen }}</p>{% endif %}
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">{{ _("Edit your profile") }}</a></p>
                {% endif %}
        </div>
    </div>
    <!-- Article -->
    <div class="control-input" ><a href="{{ url_for('editor', articleid=-1)  }}">{{ _("New Article") }}</a> </div>
    <div class="normalpadding">
    {% for articlei in articles %}
        {% include 'article.html' %}
    {% endfor %}                
    </div>
    <div id="foot"> © 2020 μr² {{ _("editor") }} </div>
</div>


    
{% endblock %}